*{
    margin: 0;
    padding: 0;
    font-family:Arial;
    text-align: left;
    background-color: #f6f8f4;
  /*  font-size: 10px;*/
   }
.main-part {
  margin:auto 33%;
  padding-top: 2%;
}
.main-part h2{
  margin-bottom: 5%;
}

/* About part */
.img1 {
  height: 200px;
  margin:5% 33%;
}
.img1 img{
  height: 100%;
  border: 1px solid #0056d3; 
}
.divider{
  height: 1px;
  margin: 5% auto;
  background-color: RGB(0, 0, 0, 0.2);
  
}

/* Why part */
.why ul{
  padding-left:10%;
 
}
.why li{
 margin-top:2%; 
 padding-left:2%;
}

/* Phone part*/

.phone{
  margin-bottom:5%;
}

/* vk part*/
.left-shift{
  padding-left:10%;
}
/* Bottom*/
.bottom-place{
  margin: 60% auto;
}